/*
* ------------------------------------------------------
*  nf-core/gansha Nextflow config file for ERV detection
* ------------------------------------------------------
* Default config options for mm10 genome.
*/

params {
    cab_ref_base = '/research/rgs01/applications/hpcf/authorized_apps/cab/Automation/REF'

    erv_bed = '/research/sharedresources/immunoinformatics/jchen4/projects/MC018_Diego_ZBP1/data/Mmus38.geve.v1.flt.bed'
    genome_file = "${cab_ref_base}/Mus_musculus/Gencode/M22/STAR-index/2.7.9a/chrNameLength.txt"

    overlap_read = 0.05
}