// Load base.config by default for all pipelines running on LSF
//includeConfig 'lsf.config'

process {
  // Process-specific resource requirements
  withLabel:fastqc {
    cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  }
}

params {
  config_profile_name = 'Mapping for project MC015'
  config_profile_description = "Align to mouse genome GRCh38/hg38"
  ref_base = '/home/jchen4/shared/Homo_sapiens/Gencode'

  max_cpus = 12
  max_memory = 30.GB
  max_time = 120.h

  // General option
  seq_center = 'Hartwell Center'
  single_end = false

  // Genome references
  fasta         = "${ref_base}/r31_dm6/bowtie2/v2.4.2/GRCh38.primary_assembly.genome.dm6.fa"
  gtf           = "${ref_base}/r31/gencode.v31.primary_assembly.annotation.gtf"
  bowtie2_index = "${ref_base}/r31_dm6/bowtie2/v2.4.2/GRCh38.primary_assembly.genome.dm6"
  chrom_sizes   = "${ref_base}/r31_dm6/bowtie2/v2.4.2/GRCh38.primary_assembly.genome.dm6.fa.placed.sizes"
  target_chr    = "${ref_base}/r31_dm6/bowtie2/v2.4.2/human_chr_placed.list"
  spikein_chr   = "${ref_base}/r31_dm6/bowtie2/v2.4.2/dm6_chr_placed.list"
  mito_name = "MT"
  // Blacklist from https://github.com/Boyle-Lab/Blacklist/blob/master/lists/hg38-blacklist.v2.bed.gz
  //blacklist = "${baseDir}/assets/blacklists/hg38-blacklist.v2.bed"
  blacklist = "/home/jchen4/shared/Blacklist/lists/hg38-dm6-blacklist.v2.bed"
  

  // Options: Trimming
  clip_r1 = 0
  clip_r2 = 0
  three_prime_clip_r1 = 0
  three_prime_clip_r2 = 0
  trim_nextseq = 0
  skip_trimming = false
  save_trimmed = true

  // Alignment
  // Bowtie2 minins and maxins. Set in either chipseq.config or cutnrun.config.
  //bowtie2_minins = 10     
  //bowtie2_maxins = 2000
  save_align_intermeds = false
  // Alignment filter
  picard_mem = 5

  // Options: Peaks
  broad_cutoff = 0.1
  frip_min_overlap = 0.2
  save_macs_pileup = false
  narrow_max_insert = 120       // max insert length for calling narrow peaks. It is going to obsolete
  peak_max_insert = 120

  // Options: QC
  skip_fastqc = false
  skip_picard_metrics = false
  skip_preseq = false
  skip_spp = false
  skip_multiqc = false

  // Spike-in
  //ecoli_fasta         = "/home/jchen4/shared/Ecoli/bowtie2/v2.4.1/GCF_000005845.2_ASM584v2_genomic.fna"
  //ecoli_bowtie2_index = "/home/jchen4/shared/Ecoli/bowtie2/v2.4.1/GCF_000005845.2_ASM584v2_genomic"

  // Other MACS2 either chipseq.config or cutnrun.config.
  //macs2_extsize = 147   // According to Henipipe https://github.com/scfurl/henipipe/blob/master/henipipe/henipipe.py
  macs_gsize  = 2.9e9
  save_macs_pileup = false
}