/*
 * ----------------------------------------------------
 *  nf-core/gansha Nextflow config file for mm10 genome
 * ----------------------------------------------------
 * Default config options for mm10 + Drosophila melanogaster UCSC dm6.
 */

 params {
    config_profile_name = 'Mouse genome GRCm38/mm10 + Drosophila melanogaster UCSC dm6'
    config_profile_description = "Mouse genome GRCm38/mm10 + Drosophila melanogaster UCSC dm6"
    ref_base = '/home/jchen4/shared/Mus_musculus/Gencode/M22_dm6/'

    // Genome references    
    fasta         = "${ref_base}/bowtie2/v2.4.1/GRCm38.primary_assembly.genome.dm6.fa"
    gtf           = "${ref_base}/gencode.vM22.primary_assembly.annotation.gtf"
    bowtie2_index = "${ref_base}/bowtie2/v2.4.1/GRCm38.primary_assembly.genome.dm6"
    chrom_sizes   = "${ref_base}/bowtie2/v2.4.1/GRCm38.primary_assembly.genome.dm6.fa.placed_no_mito.sizes"
    target_chr    = "${ref_base}/bowtie2/v2.4.1/mouse_chr_placed_no_mito.list"
    spikein_chr   = "${ref_base}/bowtie2/v2.4.1/dm6_chr_placed_no_mito.list"
    mito_name = "chrM"
    spikein_mito_name = "dm_chrM"
    // Blacklist from https://github.com/Boyle-Lab/Blacklist/blob/master/lists/mm10-blacklist.v2.bed.gz
    blacklist = "${baseDir}/assets/blacklists/GRCm38-blacklist_encode_mm10_v2.bed"
    // Required by peak-calling steps
    macs_gsize  = 1.87e9
}